body{
    font-family: 'Poppins', sans-serif;
    margin: 0% 2px;
}
h1{
    font-size: 50px;
    color: gray;
    margin: 0;
}
.section-1{
    display: flex;
    margin-bottom: 150px;
}
.div-1{
    margin-top: 20px;
    width: 50%;
    margin-left: 2%; 
    margin-right: 2%;
    text-align: justify;   
}
.div-3{
    margin-top: 150px;
    width: 50%;
    margin-left: 2%; 
    margin-right: 2%;
    text-align: justify;   
}
.skip{
    color: orange;
}
a{
    text-decoration: none;
}
.btn{ 
    display: inline;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 700;
    
}
#btn-1{
    padding-top: 30px;
}
#btn-2{
    padding-top: 100px;
}

.bg{
    background-image: url(images/7.png);
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.section-3{
    text-align: center;
    margin: 0 500px;
    margin-bottom: 150px;
}
.section-4{
    display: flex;
    margin-left: 32%;
    margin-bottom: 150px;
    
}
.div-4{
    width: 260px;
    height: 390px;
    margin-right: 18px;
    text-align: center;
    box-shadow: 5px 5px 25px gray;
    border-radius: 15px;
}
.div-4 img{
    padding-top: 12px;
    height: 170px;
    width: 235px;
    
}
.txt{
    text-align: justify;
    padding: 0px 10px;
}




